<!DOCTYPE html>
<html lang="pt-br" ng-app="ux" ng-controller="uxCtrl">

<head>
    <meta charset="utf-8" />

    <title ng-bind="titulo+' - '+subtitulo"></title>

    <style>
        @import "../node_modules/w3-css/3/w3.css";
        @import "css/estilo.css";
    </style>
    <script src="js/lorem-ipsum-js/src/lorem-ipsum.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="js/funcoes.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/base.js"></script>
</head>

<body>

    <header>
        <nav class="w3-top w3-bar w3-teal w3-center ">
            <span class="w3-left">
                <a href="#status-hotel" ng-click="trocaSubtitulo('Status Hotel')"
                    class="w3-bar-item w3-button w3-mobile">
                    {{titulo+' - '+subtitulo}}
                </a>
            </span>

            <span class="">
                <a href="#rooms-status" ng-click="trocaSubtitulo('Room Status')" class="w3-button w3-blue">Total use
                    <span class="w3-badge w3-yellow">
                        {{quantidadeOcupados}}%
                    </span></a>
                <a href="#rooms-maintenance" ng-click="trocaSubtitulo('Rooms Manentence')"
                    class="w3-button w3-pink">Room
                    Maintenance
                    <span class="w3-badge w3-yellow">
                        {{quantidadeEmManutencao}}
                    </span></a>
                <a href="#room-reservated" ng-click="trocaSubtitulo('Room Reservated')"
                    class="w3-button w3-purple">Rooms
                    Reservated's
                    <span class="w3-badge w3-yellow">
                        {{quantidadeReservados}}
                    </span>
                </a>
                <a href="#messages" ng-click="trocaSubtitulo('Messages')" class="w3-button w3-green">New Messages
                    <span class="w3-badge w3-yellow">
                        {{quantidade_mensagens}}
                    </span>
                </a>
            </span>

            <span class="w3-right">
                <!-- <a href="#" class="w3-button w3-transparent">
                    Laguages
                    <div class="w3-bar w3-bar-block w3-dropdown-hover">
                        <a href="#" class="w3-button w3-transparent" value="English">English</a>
                        <a href="#" class="w3-button w3-transparent"  value="Spanish">Spanish</a>
                        <a href="#" class="w3-button w3-transparent"  value="Portuguese">Portuguese</a>
                        <a href="#" class="w3-button w3-transparent"  value="Chinese">Chinese</a>
                    </div>
                </a> -->
                <a href="#" class="w3-button w3-transparent">{{status_login}}</a>
            </span>
        </nav>
    </header>



    <nav class="w3-bottom w3-bar w3-teal">
        <a href="#status-hotel" ng-click="trocaSubtitulo('Status Hotel')" class="w3-bar-item w3-button w3-mobile">Status
            Hotel</a>
        <a href="#rooms-maintenance" ng-click="trocaSubtitulo('Rooms Manentence')"
            class="w3-bar-item w3-button w3-mobile">Rooms Manentence</a>
        <a href="#messages" ng-click="trocaSubtitulo('Messages')" class="w3-bar-item w3-button w3-mobile">Messages</a>
        <a href="#checkin-checkout" ng-click="trocaSubtitulo('Check-In / Check-Out')"
            class="w3-bar-item w3-button w3-mobile">Check-In / Check-Out</a>
        <a href="#room-reservated" ng-click="trocaSubtitulo('Room Reservated')"
            class="w3-bar-item w3-button w3-mobile">Reservations</a>
        <a href="#rooms-status" ng-click="trocaSubtitulo('Room Status')" class="w3-bar-item w3-button w3-mobile">Rooms
            Status</a>
        <a href="#rooms-services" ng-click="trocaSubtitulo('Rooms Services')"
            class="w3-bar-item w3-button w3-mobile">Rooms Services</a>
    </nav>

    <main class="w3-container w3-margin-top">
        <section class="w3-container w3-content conteudo" id="checkin-checkout">
            <br><br><br>
            <h3 class="w3-center">Check-in/Check-out</h3>

            <h4>Cheack-in</h4>
            <div class="w3-card-2 w3-display-container w3-margin w3-padding">
                <form>
                    <label for="nome">
                        Enter the name of new user:
                    </label>
                    <input class="w3-input" type="text" placeholder="Name of user" />

                    <label for="email">
                        Enter the email of user:
                    </label>
                    <input class="w3-input" type="w3-input" type="email" placeholder="Email of user" />

                    <label for="data_nascimento">
                        Enter the date of birthday:
                    </label>
                    <input class="w3-input" type="date" placeholder="Date of birthday" />

                    <label for="nacionalidade">
                        Select your Nationality:
                    </label>
                    <select class="w3-select">
                        <option value="{{nacionalidade}}" ng-repeat="nacionalidade in nacionalidades">
                            {{nacionalidade}}
                        </option>
                    </select>

                    <label for="pagamento">
                        Selet mode of pay:
                    </label>
                    <select class="w3-select">
                        <option value="{{modo}}" ng-repeat="modo in modo_pagamento">
                            {{modo}}
                        </option>
                    </select>

                    <label for="data_checkin">
                        Enter a date of check-in:
                    </label>
                    <input class="w3-input" type="date" placeholder="Date of check-in" />

                    <label for="data_checkin">
                        Enter a date of check-out:
                    </label>
                    <input class="w3-input" type="date" placeholder="Date of check-out" />

                    <label for="pagamento">
                        Selet the room:
                    </label>
                    <select class="w3-select">
                        <option value="{{apartamento}}" ng-if="apartamento.status == 'Unoccupied'"
                            ng-repeat="apartamento in apartamentos">
                            {{apartamento.numero+'-'+apartamento.tipo}}
                        </option>
                    </select>
                    <div class="w3-container w3-panel w3-right">
                        <input type="submit" class="w3-btn w3-green" value="Check-in">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>
            </div>

            <hr />
            <h4>Cheack-out</h4>
            <div class="w3-card-2 w3-display-container w3-margin w3-padding" ng-repeat="usuario in usuarios">
                <h4>{{usuario.nome}}</h4>
                <p>Nationality: {{usuario.nacionalidade}}</p>
                <p>{{2100 - usuario.ano}} Years</p>
                <p>Status:
                    <span class="w3-text-orange" ng-if="usuario.no_apartemento == true">
                        Is in the room.
                    </span>
                    <span class="w3-text-blue" ng-if="usuario.no_apartemento == false">
                        Is out of the room.
                    </span>
                </p>
                <p>Mode of pay ($):
                    <span class="w3-text-green">
                        {{usuario.pagamento}}
                    </span>
                </p>
                <table class="w3-table w3-bordered">
                    <caption class="w3-pale-yellow">
                        <p class="w3-large">Date of:</p>
                    </caption>
                    <tr class="w3-pale-yellow">
                        <th>Check-in</th>
                        <th>Check-out</th>
                    </tr>
                    <tr>
                        <td>
                            {{usuario.data_entrada}}
                        </td>
                        <td>
                            {{usuario.data_saida}}
                        </td>
                    </tr>
                </table>
                <div class="w3-border-top w3-container w3-panel">
                    <h4>Room:
                        <span ng-if="usuario.numero == apartamento.numero" ng-repeat="apartamento in apartamentos">
                            {{apartamento.tipo}}
                        </span>
                    </h4>
                    <p>Number: {{usuario.numero}}</p>
                    <p>Status:
                        <span ng-if="usuario.numero == apartamento.numero" ng-repeat="apartamento in apartamentos">
                            {{apartamento.status}}
                        </span>
                    </p>
                </div>



                <div class="w3-display-topright">
                    <button class="w3-btn w3-green"
                        ng-click="chamar_close_and_pay(usuario.nome, usuario.numero, usuario.nome, 'block', false)">
                        Check Out
                    </button>
                </div>

                <div class="w3-modal" id="{{geraId(usuario.nome)+'-'+usuario.numero}}">
                    <div class="w3-modal-content">
                        <div class="w3-display-container w3-card-2">
                            <h5 class="w3-center w3-pale-red w3-padding">Caution!</h5>
                            <div class="w3-container w3-panel">
                                <p>Do you realy checkout {{usuario.nome}}?</p>
                                <div class="w3-display-topright">
                                    <button class="w3-btn  w3-green"
                                        ng-click="chamar_close_and_pay(usuario.nome, usuario.numero, usuario.nome, 'none', false)">&times;</button>
                                </div>
                                <div class="w3-container w3-panel w3-display-bottomright">
                                    <button class="w3-btn w3-green"
                                        ng-click="chamar_close_and_pay(usuario.nome, usuario.numero, usuario.nome, 'none', false)">
                                        No
                                    </button>
                                    <button class="w3-btn w3-red"
                                        ng-click="chamar_close_and_pay(usuario.nome, usuario.numero, usuario.nome, 'none', true)">
                                        Yes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w3-container w3-content conteudo">

        </section>
        <section class="w3-container w3-content conteudo" id="status-hotel">
            <br><br><br>
            <h3 class="w3-center">Status Hotel</h3>


            <div class="w3-container w3-panel w3-margin w3-card-2">
                <h4 class="w3-center">Total</h4>
                <h4 class="w3-center w3-xxlarge w3-text-blue">{{quantidadeOcupados}}%</h4>
            </div>

            <div class="w3-container w3-panel w3-margin w3-card-2">
                <h4 class="w3-center">Rooms in Maintence</h4>
                <h4 class="w3-center w3-xxlarge w3-text-blue">{{quantidadeEmManutencao}}</h4>
            </div>

            <div class="w3-container w3-panel w3-margin w3-card-2">
                <h4 class="w3-center">Rooms Reservated's</h4>
                <h4 class="w3-center w3-xxlarge w3-text-blue">{{quantidadeReservados}}</h4>
            </div>

            <div class="w3-container w3-panel w3-margin w3-card-2">
                <h4 class="w3-center">Messages</h4>
                <p class="w3-center">
                    <a href="#messages" class="w3-btn w3-round w3-red">
                        New
                        <span class="w3-badge w3-yellow">
                            {{quantidade_mensagens}}
                        </span>
                    </a>
                </p>
            </div>

        </section>
        <section class="w3-container w3-content conteudo" id="rooms-maintenance">
            <br><br><br>
            <h3 class="w3-center">Rooms Maintenance</h3>
            <p>The number of rooms in maintenance is
                <span class="w3-text-blue">{{quantidadeEmManutencao}}</span>.
            </p>
            <div class="w3-col l3 m5 sm12 w3-card-2 w3-margin" ng-if="apartamento.status == 'Maintenance'"
                ng-repeat="apartamento in apartamentos">
                <div class="w3-container w3-panel">
                    <h3 class="w3-center">Room: {{apartamento.tipo}}</h3>
                    <p>Status:
                        <span class="w3-text-pink">
                            {{apartamento.status}}
                        </span>
                    </p>
                    <p>
                        Number: {{apartamento.numero}}
                    </p>
                </div>
            </div>
            </div>
            </div>
        </section>

        <section class="w3-container w3-content conteudo" id="messages">
            <br><br><br>
            <h3 class="w3-center">Messages</h3>
            <p>The number of messages is
                <span class="w3-text-blue">{{quantidade_mensagens}}</span>.
            </p>
            <p>
                Click in name of user to show message!
            </p>
            <div class="w3-card-2 w3-panel w3-container">
                <ul>
                    <li ng-repeat="mensagem in mensagens">
                        <a href="{{'#'+geraId(mensagem.usuario.nome)+'-'+mensagem.usuario.numero+'-message'}}"
                            ng-click="chamar_close_and_pay(mensagem.usuario.nome, mensagem.usuario.numero+'-message', mensagem.usuario.nome, 'block', false)">
                            {{mensagem.usuario.nome}}
                        </a>

                        <div class="w3-modal"
                            id="{{geraId(mensagem.usuario.nome)+'-'+mensagem.usuario.numero+'-message'}}">
                            <div class="w3-modal-content">
                                <div class="w3-display-container w3-card-2">
                                    <h4 class="w3-center w3-pale-red w3-padding">
                                        Message:
                                        {{mensagem.usuario.nome}}
                                    </h4>
                                    <div class="w3-container w3-panel">
                                        <p>{{mensagem.mensagem}}</p>
                                    </div>
                                    <div class="w3-container w3-panel">
                                        <input type="text" placeholder="Enter your message"
                                            class="w3-input w3-border" />
                                    </div>
                                    <div class="w3-display-topright">
                                        <button class="w3-btn  w3-green"
                                            ng-click="chamar_close_and_pay(mensagem.usuario.nome, mensagem.usuario.numero+'-message', mensagem.usuario.nome, 'none', false)">&times;</button>
                                    </div>
                                    <div class="w3-container w3-panel w3-margin w3-display-container">
                                        <div class="w3-display-right">
                                            <button class="w3-btn w3-green">
                                                Call Video/Audio
                                            </button>
                                            <button class="w3-btn w3-blue">
                                                Submit text message
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            </li>
            </ul>

        </section>
        <section class="w3-container w3-content conteudo" id="room-reservated">
            <br> <br> <br>
            <h3 class="w3-center">Reservations</h3>
            <p>The number of rooms reservated's is
                <span class="w3-text-blue">{{quantidadeReservados}}</span>.
            </p>

            <div class="w3-margin w3-card-2" ng-if="apartamento.status == 'Reservated'"
                ng-repeat="apartamento in apartamentos">
                <div class="w3-container w3-panel">
                    <h3>Room: {{apartamento.tipo}}</h3>
                    <p>Status:
                        <span class="w3-text-purple">{{apartamento.status}}</span>
                    </p>
                    <p>
                        Number:
                        {{apartamento.numero}}
                    </p>
                </div>
                <div class="w3-container w-panel w3-border-top"
                    ng-if="apartamento.dono != null || apartamento.dono != undefined">
                    <h4>{{apartamento.dono.nome}}</h4>
                    <p>Nationality: {{apartamento.dono.nacionalidade}}</p>
                    <p>{{2100 - apartamento.dono.ano}} Years</p>
                    <p>Status:
                        <span class="w3-text-orange" ng-if="apartamento.dono.no_apartemento == true">
                            Is in the room.
                        </span>
                        <span class="w3-text-blue" ng-if="apartamento.dono.no_apartemento == false">
                            Is out of the room.
                        </span>
                    </p>
                    <p>Mode of pay ($):
                        <span class="w3-text-green">
                            {{apartamento.dono.pagamento}}
                        </span>
                    </p>
                    <table class="w3-table w3-bordered">
                        <caption class="w3-pale-yellow">
                            <p class="w3-large">Date of:</p>
                        </caption>
                        <tr class="w3-pale-yellow">
                            <th>Check-in</th>
                            <th>Check-out</th>
                        </tr>
                        <tr>
                            <td>
                                {{apartamento.dono.data_entrada}}
                            </td>
                            <td>
                                {{apartamento.dono.data_saida}}
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </section>
        <section class="w3-container w3-content conteudo" id="rooms-status">
            <br><br><br>
            <h3 class="w3-center">Rooms Status</h3>

            <div class="w3-card-2 w3-margin w3-display-container  altura" ng-repeat="apartamento in apartamentos">
                <div class="w3-panel w3-container">
                    <h4>
                        Room: {{apartamento.tipo}}
                    </h4>
                    <p>
                        Number: {{apartamento.numero}}
                    </p>
                    <p>
                        Status:
                        <span class="w3-text-yellow" ng-if="apartamento.status == 'Occupied'">
                            {{apartamento.status}}
                        </span>
                        <span class="w3-text-green" ng-if="apartamento.status == 'Unoccupied'">
                            {{apartamento.status}}
                        </span>
                        <span class="w3-text-orange" ng-if="apartamento.status == 'Maintenance' ">
                            {{apartamento.status}}
                        </span>
                        <span class="w3-text-green" ng-if="apartamento.status == 'Reservated'">
                            {{apartamento.status}}
                        </span>
                    </p>
                    <div class="w3-border-top" ng-if="apartamento.dono != null || apartamento.dono != undefined">
                        <h4>
                            {{apartamento.dono.nome}}
                        </h4>
                        <p>Status User:
                            <span class="w3-text-green" ng-if="apartamento.dono.no_apartemento == true">
                                Is in the room.
                            </span>
                            <span class="w3-text-blue" ng-if="apartamento.dono.no_apartemento == false">
                                Is out of the room.
                            </span>
                        </p>
                        <table class="w3-table w3-bordered">
                            <caption class="w3-pale-yellow">
                                <p class="w3-large">Date of:</p>
                            </caption>
                            <tr class="w3-pale-yellow">
                                <th>Check-in</th>
                                <th>Check-out</th>
                            </tr>
                            <tr>
                                <td>
                                    {{apartamento.dono.data_entrada}}
                                </td>
                                <td>
                                    {{apartamento.dono.data_saida}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="w3-container w3-content conteudo"></section>
        <section class="w3-container w3-content conteudo"></section>


    </main>


</body>

</html>